<h1 >Lista użytkowników</h1>
<table >
  <thead>
    <tr>
      <th >Imię i nazwisko</th>
      <th >Wydarzenie</th>
      <th >Miasto</th>
    </tr>
  </thead>

  <tbody>
    {{#each users}}
      <tr>
        <td>{{name}}</td>
        <td>{{event}}</td>
        <td>{{city}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>