<h2>Formularz</h2>
    <form action="/new" method="POST">
      
        <label for="name">Imię i Nazwisko</label><br />
        <input type="text" id="name" name="name" required />
        <br /><br />
      <label for="event">Wydarzenie</label><br>
        <select id="event" name="event" required>
          <option value="Full Stack Developer">Kurs Full Stack Developer</option>
          <option value="Front End Developer">Kurs Front End Developer</option>
          <option value="Front End Developer">Kurs Back End Developer</option>
        </select><br /><br />
      <label for="city">Miasto</label><br>
        <select id="city" name="city" required>
          <option value="Online">Online</option>
          <option value="Wrocław">Wrocław</option>
          <option value="Gdańsk">Gdańsk</option>
        </select>
        <br /><br />
      <button type="submit">Zapisz na szkolenie</button>
    </form>

    <h2 >Lista użytkowników</h2>
<table >
  <thead>
    <tr>
      <th >Imię i nazwisko</th>
      <th >Wydarzenie</th>
      <th >Miasto</th>
    </tr>
  </thead>

  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.event}}</td>
        <td>{{this.city}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
  </body>
</html>